input {
    width: 18em;
    margin-top: 2em;
    margin-left: 1.5em;
    padding-top: 0.2em;
    text-align: center;
}

input.date {
    width: 10em;
    margin-left: 5.2em;
}

input.a {
    width: 18em;
    margin-left: 0.2em;
}

textarea {
    margin-top: 1em;
    width: 18.5em;
    height: fit-content;
    overflow: scroll;
}

button.send {
    margin-left: 7.5em;
    background: purple;
    color: white;
}

button.update {
    margin-left: 7.7em;
    margin-top: 1em;
    background: purple;
    color: white;
}

mat-card.input {
    margin-top: 15em;
    height: 22em;
    width: 20em;
}

mat-card.update {
    margin-top: 2em;
    width: 20em;
}

mat-card.del {
    height: 5em;
    width: 20em;
}

mat-card.recover {
    width: 20em;
}

mat-card.datos {
    width: 20em;
}

mat-form-field {
    margin-top: 1em;
    margin-bottom: -1.5em;
    margin-left: 3.5em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    padding: 1em;
  }
  
  .mat-card {
    max-height: 400px;
  }
  
  .scroll-container {
    max-height: 300px;
    overflow-y: auto;
  }