<app-welcome>
    <div class="app-sidenav-content">
      <mat-card class="input" id="input">
        <mat-form-field appearance="fill">
          <mat-label>Componente</mat-label>
          <mat-select (selectionChange)="selectedOption = $event.value">
            <mat-option value="procesador">Procesador</mat-option>
            <mat-option value="disipador">Disipador</mat-option>
            <mat-option value="motherboard">Motherboard</mat-option>
            <mat-option value="ram">Ram</mat-option>
            <mat-option value="almacenamiento">Almacenamiento</mat-option>
            <mat-option value="psu">Fuente de Poder</mat-option>
            <mat-option value="gpu">Grafica</mat-option>
            <mat-option value="gabinete">Gabinete</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <input type="text" placeholder="ID" id="idInit" [(ngModel)]="idInit2">
        <br>
        <input type="text" placeholder="Modelo" id="modelo" (keyup)="modelos()">
        <br>
        <input type="text" placeholder="Precio" id="precio" (keyup)="precios()">
        <br>
        <input type="text" placeholder="URL" id="url" (keyup)="urls()">
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Tienda</mat-label>
          <mat-select (selectionChange)="selectedOption2 = $event.value">
            <mat-option value="Cyberpuerta">Cyberpuerta</mat-option>
            <mat-option value="DDTECH">DDTECH</mat-option>
            <mat-option value="Amazon">Amazon</mat-option>
            <mat-option value="PCEL">PCEL</mat-option>
            <mat-option value="Dimercom">Dimercom</mat-option>
            <mat-option value="Zegucom">Zegucom</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <br>
        <button class="send" mat-flat-button (click)="cruds()">Send</button>
      </mat-card>
      <br>
      <br>
      <mat-card class="del">
        <input type="text" placeholder="ID Delete" id="id" (keyup)="ids()">
        <br>
        <br>
        <button class="send" mat-flat-button (click)="delete()">Delete</button>
      </mat-card>
      <br>
      <mat-card class="recover">
        <button class="send" style="margin-left: 6.5em;" mat-flat-button (click)="recover2()">Recover All</button>
        <div class="scroll-container">
          <div *ngFor="let elemento of elementoRecuperado2">
            <p>ID: {{ elemento.id }}</p>
            <p>Tipo: {{ elemento.tipo }}</p>
            <p>Modelo: {{ elemento.modelo }}</p>
            <p>Precio: {{ elemento.precio }}</p>
            <p>Tienda: {{ elemento.tienda }}</p>
            <p>-------------------------------</p>
          </div>
        </div>
      </mat-card>
      <br>
      <mat-card class="datos">
        <input type="text" placeholder="ID Recover" id="id2" (keyup)="ids2()">
        <br>
        <br>
        <button class="send" mat-flat-button (click)="recover()">Recover</button>
        <mat-card *ngIf="elementoRecuperado" style="max-width: 18em;">
          <input type="text" placeholder="ID: {{elementoRecuperado.id}}" id="" class="a" disabled>
          <input type="text" placeholder="{{elementoRecuperado.tipo}}" id="" class="a" disabled>
          <textarea type="text" placeholder="{{elementoRecuperado.modelo}}" id="" class="a" disabled></textarea>
          <input type="text" placeholder="{{elementoRecuperado.precio}}" id="precioUpdate" class="a" (keyup)="preciosUpdate()">
          <input type="text" placeholder="{{elementoRecuperado.tienda}}" id="" class="a" disabled>
        </mat-card>
        <button class="update" mat-flat-button (click)="crudsUpdate()">Update</button>
      </mat-card>
    </div>
  </app-welcome>