mat-card {
    margin-top: 1em;
}

mat-card.first {
    margin-top: 48em;
}

mat-option.extend {
    max-height: fit-content;
    max-width: fit-content;
    width: fit-content;
    height: fit-content;
}

button {
    margin-left: 6em;
}