mat-card {
    margin-top: 1em;
}

mat-card.first {
    margin-top: 45em;
}

mat-option.extend {
    max-height: fit-content;
    max-width: fit-content;
    width: fit-content;
    height: fit-content;
}