mat-card {
  margin-top: 1em;
}

mat-card.buttons {
  @media screen and (max-width: 480px) {
    margin-top: 1em;
    font-size: 1.5em;
  }
  @media screen and (min-width: 480px) {
    width: 15em;
    max-height: 10em;
    margin-top: 1em;
    margin-right: 1em;
    font-size: 1.5em;
  }
}

button.sms2 {
  @media screen and (max-width: 480px) {
    margin-top: 1em;
    margin-left: 1em;
    font-size: 1.2em;
    background-color: yellow;
    color: black;
  }
  @media screen and (min-width: 480px) {
    width: 4em;
    max-height: 2.5em;
    margin-top: 0.5em;
    margin-left: 2em;
    font-size: 1.5em;
    background-color: yellow;
    color: black;
  }
}

button.whatsapp {
  @media screen and (max-width: 480px) {
    margin-top: 1em;
    font-size: 1.2em;
    background-color: green;
    color: #fff;
  }
  @media screen and (min-width: 480px) {
    width: 5.5em;
    max-height: 1.2em;
    margin-top: 0.5em;
    font-size: 1.5em;
    background-color: green;
    color: #fff;
  }
}

button.whatsapp2 {
  @media screen and (max-width: 480px) {
    margin-top: 1em;
    margin-left: 1em;
    font-size: 1.2em;
    background-color: green;
    color: #fff;
  }
  @media screen and (min-width: 480px) {
    width: 4em;
    max-height: 2.5em;
    margin-top: 0.5em;
    margin-left: 2em;
    font-size: 1.5em;
    background-color: green;
    color: #fff;
  }
}
