<app-welcome>
  <div class="app-sidenav-content">

    <div class="gauges" id="gauges">
      <mat-card class="data">
        <mat-card class="card" style="margin-left: 6.4em;">
          {{ date2 }}
        </mat-card>
      </mat-card>

      <mat-card class="gauge-1">
        <div class="chart" *ngIf="watts">
          <rg-gauge-chart
            style="font-size: 1.8em"
            [canvasWidth]="canvasWidth"
            [needleValue]="watts/5"
            [centralLabel]="centralLabel"
            [options]="options"
            [name]="name"
            [bottomLabel]="watts + ' W'"
          ></rg-gauge-chart>
        </div>
      </mat-card>
    </div>

    <mat-card class="data">
      <mat-card class="card" style="margin-left: 1em;">
        <mat-icon class="vrms">flash_on</mat-icon>
        <p>{{ vrms }} mV</p>
      </mat-card>
      <mat-card class="card">
        <mat-icon class="amp">lightbulb</mat-icon>
        <p>{{ ampers }} A</p>
      </mat-card>
      <mat-card class="card">
        <mat-icon class="kw">light_mode</mat-icon>
        <p>{{ this.kwhr }} KWhr</p>
      </mat-card>
    </mat-card>

    <mat-card class="table" style="height: 476px; overflow-y: auto">
      <table>
        <thead>
          <tr>
            <th>KWhr</th>
            <th>Amps</th>
            <th>Watts</th>
            <th class="time">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pagedData">
            <td>{{ item.KWhr }}</td>
            <td>{{ item.ampers }}</td>
            <td>{{ item.watts }}</td>
            <td>{{ item.time }}</td>
          </tr>
        </tbody>
      </table>
      <mat-paginator
        [length]="data.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="[15, 30, 60, 120]"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </mat-card>

    <mat-card>
      <canvas id="MyChart">{{ chart }}</canvas>
    </mat-card>
  </div>
</app-welcome>
