<app-welcome>
  <div class="app-sidenav-content">
    <div class="gauges" id="gauges">
      <mat-card class="date">
        {{ date2 }}
      </mat-card>
      <mat-card class="gauge-1">
        <rg-gauge-chart
          style="font-size: 1.8em"
          [canvasWidth]="canvasWidth"
          [needleValue]="needleValue"
          [centralLabel]="centralLabel"
          [options]="options"
          [name]="name"
          [bottomLabel]="this.watts + ' W'"
        ></rg-gauge-chart>
      </mat-card>
    </div>
    <mat-card class="data">
      <p>Watts Total: {{ watts }} W</p>
      <p>
        {{date2}}
      </p>
      <p>
        {{ampers}} A
      </p>
      <p>
        {{vrms}} mV
      </p>
      <p>
        {{this.kwhr}} KWhr
      </p>
    </mat-card>
    
    <mat-card class="table">
      <table>
        <thead>
          <tr>
            <th>KWhr</th>
            <th>Amps</th>
            <th>Watts</th>
            <th class="time">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pagedData">
            <td>{{ item.KWhr }}</td>
            <td>{{ item.ampers }}</td>
            <td>{{ item.watts }}</td>
            <td>{{ item.time }}</td>
          </tr>
        </tbody>
      </table>
      <mat-paginator [length]="data.length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="[5, 10, 15, 30, 60]"
                     (page)="onPageChange($event)">
      </mat-paginator>
    </mat-card>

    <mat-card>
      
    </mat-card>

  </div>
</app-welcome>
